.btn{
    background-color: #5BACC3;
    color: #FFFFFF;
    margin-top: 3rem;
    padding: 1.25rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 11.25rem;
}

.main-heading {
    background-color: #FFF0ED;
    padding: 3rem 0;
}

.main-heading__definition {
    width: 23.125rem;
}

.main-heading__left-container, .main-heading__right{
    display: inline-block;
}

.main-heading__left-container{
    margin-left: 128px;
    margin-top: 144px;
    vertical-align: top;
}

.main-heading__image{
    margin-left: 20%;
}