.btn{
    background-color: #5BACC3;
    color: #FFFFFF;
    padding: 1.25rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 11.25rem;
}

.btn-container{
    width: 100%;
}

.discount{
    padding: 10rem 0;
    width: 100%;
}

.discount__text{
    background-color: #393939;
    color: #FFFFFF;
    font-size: 2.8125rem;
    font-weight: 400;
    margin: auto;
    padding: 1.25rem 0;
    text-align: center;
    width: 90%;
}

.info{
    display: inline-block;
    margin: 0 4rem;
}

.info-container{
    margin: auto;
    width: fit-content;
}

.main-heading {
    align-items: center;
    background-color: #FFF0ED;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 9rem;
}

.main-heading__definition {
    width: 23.125rem;
}

.main-heading__shop-now{
    margin-top: 3rem;
}

.product{
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px  rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 27.5rem;
    width: 20.625rem;
}

.product__details{
    background-color: #FFF0ED;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem;
    width: 100%;
}

.product__image-container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 17.5rem;
}

.product__price{
    align-items: center;
    color: #5BACC3;
    display: flex;
    font-size: 1.75rem;
    height: 100%;
    justify-content: end;
    font-weight: 700;
}

.product__qty{
    opacity: 0.8;
}

.products{
    align-content: center;
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem 9rem;
    row-gap: 2rem;
}

.products__title{
    text-align: center;
    width: 100%;
}

.products__view-all{
    display: block;
    margin: 1.25rem auto 0 auto;
}

.site-info{
    background-color: #FFF0ED;
    padding: 5rem 0;
    text-align: center;
}

.social-logo{
    height: 3.125rem;
}