.main-heading{
    background-color: #393939;
    color: #FFFFFF;
    height: 12.5rem;
    margin: auto;
    text-align: center;
    width: 18.75rem;
}

.main-heading-container{
    background-image: url('../assets/images/coffee-circle.jpg');
    background-position: center;
    background-size: cover;
    height: 43.75rem;
    width: 100%;
}

.sub-nav{
    height: 5rem;
    width: 100%;
}

.sub-nav > .links-container{
    margin: auto;
}